@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

ul li {
    padding: 0;
}

a {
    text-decoration: none;
}
:focus-visible{
    outline: none;
}



.container {
    max-width: 1170px;
}


header,
footer {
    background-color: #333333;;
}

/* Header Start */
:root{

    --bs-navbar-toggler-icon-bg: red;
}

.navbar-brand img{
    height: 40px;
}

.nav-link , .dropdown-menu , .dropdown-item  {
    color: #ccc;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    padding: 16px;
    text-transform: uppercase;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #393939;
    background-color: #333333;
    --bs-dropdown-divider-bg: #000;
    --bs-dropdown-divider-margin-y: 0;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #ccc;
    --bs-dropdown-link-hover-color: #F07057;
    --bs-dropdown-link-hover-bg: #393939;
    --bs-dropdown-border-color: none;
    --bs-dropdown-border-radius: 0;
}

.navbar-nav {
    gap: 30px;
}

.nav-link:hover {
    color: #F07057;
    background: #393939
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show  {
    color: #F07057;
    background: #393939
}


.navbar-toggler {
    border: none;
}

:focus-visible {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none;
}

/* Header End */

/* Footer Start */

footer{
    border-top: rgba(255,255,255,0.3) 1px solid;
}

footer span, footer ul li a {
    color: #fff;
    font-size: 10px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}

footer ul li a:hover{
    color: #F07057;
} 

footer .sepy {
    color: #666;
    font-size: 18px;
}

/* Footer End */

/* index Page Start */
.carousel-inner img{
    max-height: 847px;
    object-fit: cover;
}

.carousel-caption{
    left: 6%;
}


.carousel-caption h1{
    display: inline-block;
    padding: 10px;
    color: #fff !important;
    font-size: 60px;
    padding: 6px;
    background: rgba(0,0,0,0.3);
    margin: 0;
    margin-bottom: 2px;
}

.carousel-caption h2{
    display: inline-block;
    color: #fff;
    background: rgba(0,0,0,0.3);
    font-size: 30px;
    line-height: 1.4;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 2px;
}


.carousel-caption p {
    display: inline-block;
    color: #fff;
    background: rgba(0,0,0,0.3);
    clear: both !important;
    padding: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
}

.learnBtn{
    display: inline-block;
    border-color: #333;
    background-color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    padding: 8px 18px;
    color: #fff;
    margin-top: 6px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.learnBtn:hover{
    border-color: #444;
    background-color: #444;
}

/* .carousel-control-next, .carousel-control-prev {
    bottom: 20%;
    width: 96% !important;
    top : unset;
    
}

.carousel-control-prev{
    left: 46%;
}

.carousel-control-next{
    left: 50%;
} */

.carousel-control-next-icon, .carousel-control-prev-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: rgba(0,0,0,0.3);;
}

/* .carousel-control-next-icon:hover{
    background-color: #81BA10;
}
.carousel-control-prev-icon:hover {
    background-color: #81BA10;
} */
/* index Page End */