@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 0;
}

a {
    text-decoration: none;
}

:focus-visible {
    outline: none;
}

strong {
    font-weight: 700;
}

h2 {
    color: #000;
    font-size: 2.2em;
    font-weight: 300;
    line-height: 42px;
}

h3 {
    color: #333;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 1.4;
}

h4 {
    color: #333;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 27px;
}

p,
ul li {
    color: #7e8998;
    line-height: 22px;
    font-size: 15px;
    line-height: 22px;
}

.mb_60 {
    margin-bottom: 50px;
}

.p_15 {
    padding: 12px;
}

.container {
    max-width: 1170px;
}


.form-control:focus {
    background-color: unset !important;
    border-color: #dee2e6 !important;
    outline: 0;
    box-shadow: unset !important;
}

form label {
    font-weight: 300;
}


header,
footer {
    background-color: #333333;
    ;
}

/* Header Start */

.navbar-brand img {
    height: 40px;
}

.nav-link,
.dropdown-menu,
.dropdown-item {
    color: #ccc;
    font-size: 13px;
    font-weight: 400;
    padding: 0;
    padding: 16px;
    text-transform: uppercase;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #393939;
    background-color: #333333;
    --bs-dropdown-divider-bg: #000;
    --bs-dropdown-divider-margin-y: 0;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #ccc;
    --bs-dropdown-link-hover-color: #F07057;
    --bs-dropdown-link-hover-bg: #393939;
    --bs-dropdown-border-color: none;
    --bs-dropdown-border-radius: 0;
}

.navbar-nav {
    gap: 30px;
}

.nav-link:hover {
    color: #F07057;
    background: #393939
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #F07057;
    background: #393939
}


.navbar-toggler {
    border: none;
}

:focus-visible {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-toggle::after {
    display: none;
}

/* Header End */

/* Footer Start */

footer {
    border-top: rgba(255, 255, 255, 0.3) 1px solid;
}

footer span,
footer ul li a {
    color: #fff;
    font-size: 10px;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}

footer ul li a:hover {
    color: #F07057;
}

footer .sepy {
    color: #666;
    font-size: 18px;
}

/* Footer End */

/* index Page Start */
.carousel-inner img {
    max-height: 847px;
    object-fit: cover;
}

.carousel-caption {
    left: 6%;
}


.carousel-caption h1 {
    display: inline-block;
    padding: 10px;
    color: #fff !important;
    font-size: 60px;
    padding: 6px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0;
    margin-bottom: 2px;
}

.carousel-caption h2 {
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    font-size: 30px;
    line-height: 1.4;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 2px;
}


.carousel-caption p {
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    clear: both !important;
    padding: 6px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 10px;
}

.learnBtn {
    display: inline-block;
    border-color: #333;
    background-color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    padding: 8px 18px;
    color: #fff;
    margin-top: 6px;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.learnBtn:hover {
    border-color: #444;
    background-color: #444;
}

/* .carousel-control-next, .carousel-control-prev {
    bottom: 20%;
    width: 96% !important;
    top : unset;
    
}

.carousel-control-prev{
    left: 46%;
}

.carousel-control-next{
    left: 50%;
} */

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 100%;
    background-color: rgba(0, 0, 0, 0.3);
    ;
}

/* .carousel-control-next-icon:hover{
    background-color: #81BA10;
}
.carousel-control-prev-icon:hover {
    background-color: #81BA10;
} */
/* index Page End */

/* Contact Page Start */

.contact h1 {
    padding: 20px 0;
    font-size: 36px;
    color: #333;
    font-weight: 300;
    letter-spacing: -1px;
}

.grayLine {
    background-color: #ccc;
    height: 1px;
    width: 100%;
}

.mapContact iframe {
    width: 100%;
    height: 400px;
}

.contactForm input {
    font-size: 14px;
    line-height: 1.4;
    color: #555 !important;
    padding: 6px 12px;
    background-color: #fff;
}

.contactForm button {
    font-size: 18px;
    padding: 10px 18px !important;
}

.divider {
    border: 0;
    margin: 30px 0;
    height: 4px;
    border-top: #ddd 1px solid;
    border-bottom: #ddd 1px solid;
    text-align: center;
}

.address p,
.address a {
    color: #7e8998;
    line-height: 22px;
    font-size: 15px;
    line-height: 22px;
    transition: 0.3s ease-in-out;
}

.address a:hover {
    color: #333;
    text-decoration: underline;
}

/* Contact Page End */


/* The Studio Page Start */

.pageBg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 255px;
    margin: 15px 0;
}

.pageHeader {
    font-size: 50px;
    color: #fff;
    font-weight: 300;
    line-height: 43px;
    padding-top: 50px;
    padding-left: 30px;
}

.pageHeader span {
    color: #F07057;
}

.sideBar a {
    color: #F07057;
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 23px;
    padding: 10px 15px;
}

.sideBar a:hover,
.sideBar .active {
    color: #81BA10;
    background-color: #eee;
}

.serviceList {
    list-style: disc;
    padding-left: 15px;
}

.serviceIcon {
    color: #fff;
    text-align: center;
    background-color: #F07057;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}


/* The Studio Page End */


/* team Page Start */
.serviceIconLarge{
    color: #F07057;
    text-align: center;
    background-color: transparent;
    border: 1px solid #F07057;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.lead {
    font-size: 21px;
    line-height: 1.4;
}

.decMaker {
    font-size: 1.43em;
    font-weight: 400;
    line-height: 1;
    color: rgb(119, 119, 119);
}


.team {
    background-color: #f6f6f6;
    max-width: 255px;
    transition: 0.3s ease-in-out;
}

.team:hover {
    background-color: #e0e0e0;

}

.brassContent {
    padding: 5px 5px 10px 5px;
}

.btnxs{
    padding: 3px 13px;
    font-size: 12px;
}

hr.half-margins {
    margin: 60px 0;
}

.bgCall{
    background-color: #eee;
    border-left: #ddd 3px solid;
    padding: 15px;
}

.introBtn{
    font-size: 14px;
}


/* team Page End */

/* Audio Page Start */
.price-table {
    background: #fafafa;
    text-align: center;
}

.price-table h3 {
    font-size: 25px;
    line-height: 25px;
    padding: 30px 0;
    border-bottom: rgba(0,0,0,0.1) 2px solid;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.price-table p {
    color: #666;
    font-size: 36px;
    padding: 30px 0;
    font-weight: 400;
    width: 150px;
    height: 150px;
    padding-top: 60px;
    display: inline-block;
    background-color: rgba(0,0,0,0.05);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-bottom: 22px;
}

.price-table p span {
    display: block;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.price-table ul li {
    list-style: none;
    font-size: 12px;
    border-bottom: rgba(0,0,0,0.1) 1px solid;
    padding: 8px;
    text-transform: uppercase;
}


.bg_dark{
    background: #676767;
}
/* Audio Page End */

/* Digital Services Page Start */

.alert.alert-warning {
    background-color: #fce3a3;
    border-left: #8A6D3B 3px solid;
    color: #8a6d3b;
}

.alert {
    padding: 15px;
    border-radius: 4px;
}


/* Digital Services Page End */

/* Promotional Service page Start */

.promotionTable a i{
    color: #F07057;
}

/* Promotional Service page end */